button {
  appearance: none;
}

button,
.btn {
  display: inline-block;
  // width: 12rem;
  padding: 1em 2em;
  font-family: $baseFontFamily;
  line-height: 1;
  border: 1px solid white;
  background: white;
  color: black;
  transition: $durationFast;

  &:hover {
    border: 1px solid black;
    background: black;
    border-color: white;
    color: white;
    outline: none;
  }

  &:focus {
    border: 1px solid white;
    background: white;
    border-color: black;
    color: black;
    outline: none;
    &:hover {
      border: 1px solid black;
      background: black;
      border-color: white;
      color: white;
      outline: none;
    }
  }
}
