.event-date {
  text-align: center;
  border: 1px solid white;
  border-radius: clamp(1rem, 1vw, 5rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .month,
  .day {
    display: block;
  }
  .month {
    background: white;
    color: black;
    padding: 5px 0;
  }
  .day {
    font-family: 'Natural-Selection';
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.5;
    padding: 20px;
  }
}
