// typkit fonts
// font-family: aktiv-grotesk, sans-serif; 400 normal 400 italic 700 bold 700 italic


@font-face {
  font-family: 'Natural-Selection';
  src:  url('assets/fonts/NaturalSelection.woff2') format('woff2'),
        url('assets/fonts/NaturalSelection.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
