// --------------------------------------------------
//
// Variables
// --------------------------------------------------
// Customize this to meet your project needs

// COLORS
$solid-black: #000000;
$black: #181818;
$white: #ffffff;
$dark-gray: #0b0a0a;

$gray-50: #fafafa;
$gray-100: #f4f4f5;
$gray-200: #e4e4e7;
$gray-300: #d4d4d8;
$gray-400: #a1a1aa;
$gray-500: #71717a;
$gray-600: #52525b;
$gray-700: #3f3f46;
$gray-800: #27272a;
$gray-900: #18181b;
$green-primary: #00f024;
$blue-primary: #0038ff;
$blue-smoke: #1f2744;
$purple-primary: #1f2744;
$red-primary: #FF0000;
$orange-primary: #fc8e0f;
$yellow-primary: #ffe600;

$font-large: clamp(24px, 3.9vw, 55px);

$defaultTextColor: $black;
$linkColor: $black;
$linkColorHover: $blue-primary;
$errorColor: $red-primary;

// TYPOGRAPHY
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.25rem;
$text-xl: 2rem;
$text-h6: 1.5rem;
$text-h5: 1.75rem;
$text-h4: 2.5rem;
$text-h3: 3rem;
$text-h2: 3.5rem;
$text-h1: 4rem;

$font-thin: 400;
$font-normal: 400;
$font-bold: 700;

$baseFontFamily: 'aktiv-grotesk', sans-serif;
$headingFontFamily: 'aktiv-grotesk', sans-serif;
$monoFontFamily: 'Sneak Mono', monospace;

// DURATIONS
$durationSlower: 0.75s;
$durationSlow: 0.5s;
$durationNormal: 0.3s;
$durationFast: 0.2s;
$durationQuick: 0.1s;

// Z-INDEX
$z-50: 50;
$z-40: 40;
$z-30: 30;
$z-20: 20;
$z-10: 10;

// GRID
$grid-breakpoints: (
  xs: 500px,
  sm: 768px,
  md: 1024px,
  lg: 1366px,
  xl: 1920px,
) !default;

/**
  Media Breakpoint Example

  @include media-breakpoint-up(sm) {
    //do something
  }
  @include media-breakpoint-down(sm) {
    //do something
  }
  @include media-breakpoint-between(sm, md) {
    //do something
  }

  @see ./_breakpoints.scss

**/
